.ChatSummaryCard {
  display: flex;
  padding: 1em;
  border-radius: 2%;
  height: 30px;
  background-color: white;
  color: black;
  margin: 10px 0;
}

.ChatSummaryCard:hover {
  background-color: pink;
}

.ChatSummaryCard__last_message_at {
  font-size: 0.7em;
  align-self: flex-end;
  /* justify-self: flex-end; */
  /* align-content: flex-end; */
  /* justify-self: flex-end; */
}

.ChatSummaryCard__image {
  width: 30px;
  height: 30px;
  border: 1px dotted green;
  border-radius: 15px;
  margin-right: 0.5em;
}