.ChatMessagesView {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 89, 89);
  color: purple;
  padding: 0.25em;
}

/* .ChatMessagesView__main {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;;
} */

.ChatMessagesView__message_box {
  flex: 1;
}

.ChatMessagesView__send_message_box {
  /* flex: 1; */
}