.InitiateSingleChatModal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(162, 135, 53, 0.8);
  display: grid;
  place-items: center;
}
  
.InitiateSingleChatModal__main {
  padding: 1em;
  background-color: white;
  border-radius: 5%;
}
  
.InitiateSingleChatModal input[type="submit"] {
  background-color: rgb(194, 86, 194);
  color: white;
}
  
.InitiateSingleChatModal form {
  padding: 0;
}
  
.InitiateSingleChatModal input[type="text"] {
  border: 3px solid purple;
}