.Header {
  /* height: 40px; */
  padding: 0.5em;
}

.Header button {
  float: right;
  border-style: none;
  border-radius: 0.5em;
  padding: 0.25em 0.75em;
  background-color: purple;
  color: white;
  margin: 0 0.5em;
}